{% extends 'base.html.twig' %}

{% block title %}Connect Four{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.username }},</h1>
    <h3>il y a actuellement {{ joinGames|length }} partie(s) publique(s) en cours</h3>

    {% for game in joinGames %}
        <div class="game">
        created by {{ game.owner.username }}<br />
        {% if game.player == null %}
            <a href="?game={{ game.id }}">Rejoindre la partie</a>
        {% else %}
            {{ game.owner.username }} joue contre {{ game.player.username }}<br />
            Partie complète: <a href="?game={{ game.id }}">Rejoindre en spectateur</a>
        {% endif %}
        </div>
    {# {{ dump(game) }} #}
    
    {% endfor %}
    <div>
        <h2>Mes parties</h2>
        {% for game in app.user.games %}
            <div class="game">
            created by {{ game.owner.username }}<br />
            {% if game.player == null %}
                <a href="?game={{ game.id }}">Rejoindre la partie</a>
            {% else %}
                {{ game.owner.username }} joue contre {{ game.player.username }}<br />
                Partie complète: <a href="?game={{ game.id }}">Rejoindre en spectateur</a>
            {% endif %}
            </div>
        {% endfor %}
    </div>
    

    <a href="/game">Créer une partie</a><br />
    <a href="/logout">Se déconnecter</a>
    <h3>{{ allGames|length }} parties créées</h3>
</div>
{% endblock %}
